@import '@/assets/utils/_variables.scss';
@import '@/assets/utils/_mixins.scss';

.card {
  border: 1px solid $color-accent;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.input {
  width: 100%;
  border: 2px solid $color-small-secondary-text;
  border-radius: 4px;
  margin-bottom: 25px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: box-shadow $transition-time;
}

.input:focus {
  border-color: $color-accent;
  box-shadow: 0 0 8px 0 $color-accent;
}

textarea {
  resize: vertical;
}

.button-wrapper {
  display: flex;
  gap: 20px;
}

.button {
  font-family: $ff-poppins;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid $color-accent;
  background: $color-main-bg;
  cursor: pointer;

  @include hover(background, $color-accent);
  @include hover(color, $color-main-bg);
}

.button-delete {
  border-color: $color-error;
  @include hover(background, $color-error);
}

.title {
  font-weight: $fw-700;
}

.image {
  max-width: 50%;
}

.imagePreview {
  max-width: 50%;
  display: block;
  margin: 20px auto;
}

.upload {
  display: none;
}

.label {
  width: 200px;
  height: 45px;
  background: $color-accent;
  color: $color-main-bg;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
