.last-posts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .last-posts-wrapper {
    margin-top: 15px;
  }
}
