.hero-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 23px;
  margin-top: 56px;
}

@media screen and (max-width: 768px) {
  .hero-wrapper {
    grid-template-columns: 1fr;
  }
}
