@import '@/assets/utils/_variables.scss';
@import '@/assets/utils/_mixins.scss';

.menu {
  @include flex-center;
}

.menu-item {
  color: $color-dark;
  font-size: $fs-14;
  font-weight: $fw-500;
  cursor: pointer;
  position: relative;

  @include hover(color, $color-accent);

  &:not(:last-child) {
    margin-right: 24px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $color-accent;
    transition: width $transition-time;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.active-link {
  color: $color-accent;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color-accent;
    transition: width $transition-time;
  }
}

.burger {
  border: none;
  background: none;
}

@media screen and (max-width: 992px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 12px 32px rgba(26, 26, 26, 0.2);
    padding: 20px 30px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    background: $color-main-bg;
    opacity: 0;
    visibility: hidden;
    transition: $transition-time;

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  .menu-item {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:hover {
      &:after {
        width: 0;
      }
    }
  }

  .active-link {
    &::after {
      width: 0;
    }
  }
}
