@import '@/assets/utils/_variables.scss';
@import '@/assets/utils/_mixins.scss';

*,
*::before,
*::after {
  font-family: $ff-poppins;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.not-found {
  @include flex-center;
  margin-top: 100px;
}
